<html>
<head>
<title>Contact Us</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="contact.css">
</head>
<body ng-app="">

  <div class="box">
    
    <div class="text">
    <h1>Contact <span class="red">Us</span></h1>
    <hr class="redline">
    <p>Have Questions ? We have answers</p>
    </div>
  </div>

  <div class="touch">
    <h2>Get in touch</h2>
    <hr class="redline">
  </div>
  
  <form action="" method="POST" name="contact-form">
  <div class="container form-margin">
    <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>     <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="form-group">
    <input type="text" class="form-control" placeholder="First Name" ng-model="firstname" name="firstname" required>    
      </div>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Address" ng-model="company" name="address" required>    
      </div>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Phone" ng-model="phone" name="firstname" required>    
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="form-group">
    <input type="text" class="form-control" placeholder="Last Name" ng-model="lastname" name="lastname" required>    
      </div>
      <div class="form-group">
    <input type="email" class="form-control" placeholder="E-mail" ng-model="email" name="email" required>    
      </div>
      <div class="form-group">
    <input type="text" class="form-control" placeholder="Date of birth" ng-model="course" name="Date of birth" required>    
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="form-group">
    <textarea class="form-control" rows="6" placeholder="Message" ng-model="message" name="message" required></textarea>
  </div>  
      <div class="pager">
      <button type="submit" class="btn btn-success">SEND MESSAGE</button>
      </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
  
  </div>
  </form>
  <!--address-->

  <div class="container address">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h3>Our Address</h3>
      <div class="redline-address"></div>
      <p>15-A,street no.2</p>
      <p>Church road</p>
      <p>Kashmere gate,</p>
      <p>Delhi-110092</p>
      <div class="phone-e">
      <p><span class="glyphicon glyphicon-envelope"> </span> info@mummyg.com</p>
      <p><span class="glyphicon glyphicon-phone"></span> +91-97427 66186</p>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
      <!--map-->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3500.7850500238!2d77.22860351456038!3d28.666154089310407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd066a47482d%3A0x3a19b527cca2774d!2sChurch%20Rd%2C%20Old%20Delhi%2C%20Delhi%2C%20110006!5e0!3m2!1sen!2sin!4v1664306232120!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
 width="600" height="450" frameborder="0" style="border:0" allowfullscreen></i>

    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

  </div>
  
  <div class="bottom-gap"></div>
  
</body>
</html>